@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=PT+Sans+Narrow&display=swap");
* {
  color: #ece2ce;
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

header {
  border: 3px groove rgba(88, 87, 87, 0.705);
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to right, rgba(131, 149, 153, 0.397), rgba(0, 255, 221, 0.301), rgba(54, 54, 54, 0.616)); }

img {
  height: 70px;
  width: 70px;
  margin-top: 32px;
  margin-left: 20px; }

.h-header {
  padding-left: 30px;
  padding-bottom: 20px; }

.h2-header {
  margin-left: 122px;
  margin-top: 0.5px; }

.div-header {
  display: flex;
  flex-direction: row;
  height: 80px; }

body {
  background-image: url(../Assets/Sin-título2.png);
  background-size: cover;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  color: black; }

.body-contact {
  background-image: url(../Assets/ship-storm.jpg);
  background-size: cover; }

.body-servicios {
  background-image: url(../Assets/ship-coast.jpg);
  background-size: cover; }

.body-portfolio {
  background-image: url(../Assets/rock-ship-coast.jpg);
  background-size: cover; }

.body-me {
  background-image: url(../Assets/Sin-titulo.jpg);
  background-size: cover; }

nav {
  display: flex;
  justify-content: space-between;
  font-size: larger; }

nav a {
  text-decoration: none;
  border: 3px groove rgba(88, 87, 87, 0.705);
  border-radius: 25px;
  color: blanchedalmond;
  background-image: linear-gradient(to right, rgba(131, 149, 153, 0.397), rgba(0, 255, 221, 0.301), rgba(54, 54, 54, 0.616));
  font-style: bold;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px; }

nav a:hover {
  color: black; }

.article-home {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 440px;
  margin-top: 50px; }

.article-h2 {
  border: 2px groove #00305c;
  background-color: rgba(0, 204, 255, 0.219);
  border-radius: 25px;
  margin-left: 230px;
  padding: 10px 10px 10px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 40px; }

.article-portfolio {
  margin-top: 50px;
  margin-left: 10px; }

.article-servicios {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 100px;
  margin-left: 250px; }

.article-me {
  display: flex;
  flex-direction: row; }

.img-port {
  width: 650px;
  height: 550px;
  border: 2px groove #00305c;
  margin-top: 15px;
  margin-left: 185px; }

.img-tilde {
  width: 30px;
  height: 30px;
  margin-left: 8px;
  margin-bottom: 30px; }

.img-develop {
  width: 350px;
  height: 275px;
  border: 2px groove rgba(88, 87, 87, 0.705);
  margin-top: 15px; }

.img-mainte {
  width: 350px;
  height: 275px;
  margin-top: 75px;
  border: 2px groove rgba(88, 87, 87, 0.705);
  margin-left: 28px; }

.img-me {
  width: 500px;
  height: 500px;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 15px;
  border: 2px groove #00305c; }

.p-me {
  margin-left: 160px;
  width: 420px;
  height: 430px;
  margin-top: 120px;
  line-height: 50px;
  border: 2px groove #00305c;
  background-color: rgba(0, 204, 255, 0.219);
  border-radius: 25px;
  padding: 10px 10px 0px 20px;
  font-size: large; }

.p-me2 {
  margin-left: 160px;
  width: 400px;
  height: 170px;
  margin-top: 230px;
  line-height: 50px;
  border: 2px groove #e20000;
  background-image: linear-gradient(to right, rgba(131, 149, 153, 0.397), rgba(0, 255, 221, 0.301), rgba(54, 54, 54, 0.616));
  border-radius: 25px;
  padding: 10px 10px 10px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  animation-iteration-count: infinite; }

.ul-develop {
  width: 450px;
  border: 2px groove #00305c;
  background-color: rgba(0, 204, 255, 0.219);
  border-radius: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
  padding-top: 25px;
  line-height: 30px; }

.ul-mante {
  width: 450px;
  border: 2px groove #00305c;
  background-color: rgba(0, 204, 255, 0.219);
  border-radius: 25px;
  padding-bottom: 25px;
  line-height: 40px;
  margin-right: 250px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 25px; }

.div-home {
  border: 2px groove #e20000;
  background-image: linear-gradient(to right, rgba(131, 149, 153, 0.397), rgba(0, 255, 221, 0.301), rgba(54, 54, 54, 0.616));
  border-radius: 25px;
  width: 450px;
  height: 530px;
  margin-left: 712.5px;
  margin-top: 50px;
  padding-left: 25px;
  padding-top: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  animation-iteration-count: infinite; }

.h3-port {
  border: 2px groove #00305c;
  background-color: rgba(0, 204, 255, 0.219);
  border-radius: 25px;
  width: 270px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px; }

fieldset {
  border: 2px groove #00305c;
  width: 1300px;
  margin-top: 170px;
  margin-left: 20px;
  padding-left: 20px;
  background-image: linear-gradient(to right, rgba(131, 149, 153, 0.397), rgba(0, 255, 221, 0.301), rgba(54, 54, 54, 0.616)); }
