@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=PT+Sans+Narrow&display=swap');
*{
    color:rgb(236, 226, 206);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    border: 3px groove rgba(88, 87, 87, 0.705);
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to right, rgba(131, 149, 153, 0.397), rgba(0, 255, 221, 0.301), rgba(54, 54, 54, 0.616));
}

img{
    height: 70px;
    width: 70px;
    margin-top: 32px;
    margin-left: 20px;
}

.h-header{
    padding-left: 30px;
    padding-bottom: 20px;
}

.h2-header{
    margin-left: 122px;
    margin-top:0.5px;
}

.div-header{
    display: flex;
    flex-direction: row;
    height: 80px;
}

body{
    background-image: url(Assets/Sin-título2.png);
    background-size: cover;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.body-contact{
    background-image: url(Assets/ship-storm.jpg);
    background-size:cover;
}

.body-servicios{
    background-image: url(Assets/ship-coast.jpg);
    background-size: cover;
}

.body-portfolio{
    background-image: url(Assets/rock-ship-coast.jpg);
    background-size: cover;
}

.body-me{
    background-image: url(Assets/Sin-titulo.jpg);
    background-size: cover;
}

nav{
    display: flex;
    justify-content: space-between;
    font-size: larger;
}

nav a{
    text-decoration: none;
    border: 3px groove rgba(88, 87, 87, 0.705);
    border-radius: 25px;
    background-image: linear-gradient(to right, rgba(131, 149, 153, 0.397), rgba(0, 255, 221, 0.301), rgba(54, 54, 54, 0.616));
    font-style: bold;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

nav a:hover{
    color: black;
}

.article-home{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 440px;
    margin-top: 50px;
}

.article-h2{
    border: 2px groove rgb(0, 48, 92);
    background-color: rgba(0, 204, 255, 0.219);
    border-radius: 25px;
    margin-left: 230px;
    padding: 10px 10px 10px 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 40px;

}

.div-home{
    border: 2px groove rgb(226, 0, 0);
    background-image: linear-gradient(to right, rgba(131, 149, 153, 0.397), rgba(0, 255, 221, 0.301), rgba(54, 54, 54, 0.616));
    border-radius: 25px;
    width: 450px;
    margin-left: 712.5px;
    margin-top: 50px;
    padding-left: 25px;
    padding-top: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation-iteration-count: infinite;
}

.article-portfolio{
    margin-top: 50px;
    margin-left: 10px;
}

.img-port{
    width: 650px;
    height: 550px;
    border: 2px groove rgb(0, 48, 92);
    margin-top: 15px;
    margin-left: 185px;
}

.h3-port{
    border: 2px groove rgb(0, 48, 92);
    background-color: rgba(0, 204, 255, 0.219);
    border-radius: 25px;
    width: 270px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.img-tilde{
    width: 30px;
    height: 30px;
    margin-left: 8px;
    margin-bottom: 30px;
}

fieldset{
    border: 2px groove rgb(0, 48, 92);
    width: 20px;
    margin-top: 150px;
}

.nombre{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:rgb(236, 226, 206);
    color: rgb(88, 88, 88);
}
.apellido-espacio{
    margin-left: 20px;
}
.apellido{
    background-color:rgb(236, 226, 206);
    color: rgb(88, 88, 88);
}
.email{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:rgb(236, 226, 206);
    color: rgb(88, 88, 88);
}

.consulta-espacio{
    background-color:rgb(236, 226, 206);
    color: rgb(88, 88, 88);
}
.consulta{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: larger;
}

.enviar-limpiar{
    margin-top: 20px;
}

.enviar-consulta{
    color: rgb(88, 88, 88);
    background-color:rgb(236, 226, 206);
}
.limpiar-consulta{
    color: rgb(88, 88, 88);
    background-color:rgb(236, 226, 206);
}

.legend{
    font-size: larger
}

/* aaaw */

.facebook{
    width: 18px;
    height: 18px;
    margin-left: 5px;
}


.instagram{
    width: 18px;
    height: 18px;
    margin-left: 5px;
}


.ul-develop{
    width: 450px;
    border: 2px groove rgb(0, 48, 92);
    background-color: rgba(0, 204, 255, 0.219);
    border-radius: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-top: 25px;
    line-height: 30px;
}


.ul-mante{
    width: 450px;
    border: 2px groove rgb(0, 48, 92);
    background-color: rgba(0, 204, 255, 0.219);
    border-radius: 25px;
    padding-bottom: 25px;
    line-height: 40px;
    margin-right: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
}


.img-develop{
    width: 350px;
    height: 275px;
    border: 2px groove rgb(88, 88, 88);
    margin-top: 15px;
}


.img-mainte{
    width: 350px;
    height: 275px;
    margin-top: 75px;
    border: 2px groove rgb(88, 88, 88);
    margin-left: 28px;
}

.article-servicios{
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 250px;
}

.img-me{
    width: 500px;
    height: 500px;
    margin-top: 100px;
    margin-left: 15px;
    border: 2px groove rgb(0, 48, 92);
}

.p-me{
    margin-left: 160px;
    width: 420px;
    height: 430px;
    margin-top: 120px;
    line-height: 50px;
    border: 2px groove rgb(0, 48, 92);
    background-color: rgba(0, 204, 255, 0.219);
    border-radius: 25px;
    padding: 10px 10px 0px 20px;
    font-size:large;

}

.p-me2{
    margin-left: 160px;
    width: 400px;
    height: 170px;
    margin-top: 230px;
    line-height: 50px;
    border: 2px groove rgb(226, 0, 0);
    background-image: linear-gradient(to right, rgba(131, 149, 153, 0.397), rgba(0, 255, 221, 0.301), rgba(54, 54, 54, 0.616));
    border-radius: 25px;
    padding: 10px 10px 10px 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation-iteration-count: infinite;
}

.article-me{
    display: flex;
    flex-direction: row;
}




