body{
    background-image: url(../Assets/Sin-título2.png);
    background-size: cover;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.body-contact{
    background-image: url(../Assets/ship-storm.jpg);
    background-size:cover;
}

.body-servicios{
    background-image: url(../Assets/ship-coast.jpg);
    background-size: cover;
}

.body-portfolio{
    background-image: url(../Assets/rock-ship-coast.jpg);
    background-size: cover;
}

.body-me{
    background-image: url(../Assets/Sin-titulo.jpg);
    background-size: cover;
}

