header{
    border: 3px groove $borderblue;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(70, 70, 70, 0.514);
    padding-bottom: 40px;
}

img{
    height: 70px;
    width: 70px;
    margin-top: 32px;
    margin-left: 20px;
}

.h-header{
    padding-left: 30px;
    font-size:200%;
}

.div-header{
    display: flex;
    flex-direction: row;
    height: 80px;
}
