.img-port{
    width: 650px;
    height: 550px;
    border: 2px groove $borderblue;
    margin-top: 15px;
    margin-left: 185px;
}

.img-tilde{
    width: 30px;
    height: 30px;
    margin-left: 8px;
    margin-bottom: 30px;
}

.img-develop{
    width: 350px;
    height: 275px;
    border: 2px groove $bordergray;
    margin-top: 15px;
}

.img-mainte{
    width: 350px;
    height: 275px;
    margin-top: 75px;
    border: 2px groove $bordergray;
    margin-left: 28px;
}

.img-me{
    width: 500px;
    height: 500px;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 15px;
    border: 2px groove $borderblue;
}