nav a{
    text-decoration: none;
    border: 3px groove $borderblue;
    border-radius: 25px;
    color: blanchedalmond;
    background-color: rgba(70, 70, 70, 0.685);
    font-style: bold;
    font-size: larger;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

nav a:hover{
    color: black;
}
