nav{
    display: flex;
    justify-content: space-between;
    font-size: larger;
}

nav a{
    text-decoration: none;
    border: 3px groove $bordergray;
    border-radius: 25px;
    color: blanchedalmond;
    background-image: linear-gradient(to right, rgba(131, 149, 153, 0.397), rgba(0, 255, 221, 0.301), rgba(54, 54, 54, 0.616));
    font-style: bold;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

nav a:hover{
    color: black;
}
