.ul-develop{
    width: 450px;
    border: 2px groove $borderblue;
    background-color: rgba(0, 204, 255, 0.219);
    border-radius: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-left: 25px;
    line-height: 30px;
}

.ul-mante{
    @extend .ul-develop;
    margin-right: 370px;
}

